@model DLP.Application.Common.Templates.Models.CompanyApprovedViewModel;  
@using DLP.HtmlHelpers;

<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <title>
        Your account is ready
    </title>
</head>
<body>
    <div style='max-width: 500px; margin: 0 auto; background-color: #f2f2f2; padding: 20px;'>
        <h1 style='color: #333333; text-align: center;'>
            <span>@await Html.Translate("company-approved:email.title", "Company Approved", Model.UserLang)</span>
        </h1>
        <br />
        <p>
            <span>@await Html.Translate("company-approved:entry.text", "Dear", Model.UserLang) @Model.ContactName from @Model.CompanyName,</span>
        </p>
        <br />
        <p>
            <span>@await Html.Translate("company-approved:email.header", "Your company has been successfully approved. Below is your One-Time Password (OTP) to access your account:", Model.UserLang)</span>
        </p>
        <div style='background-color: #ffffff; border: 1px solid #cccccc; padding: 10px; font-size: 18px; text-align: center; margin: 20px 0;'>
            @Model.OTPCode
        </div>
        <p>
            <span>
                @await Html.Translate("company-approved:use.otp.code", "Please use this OTP to complete your action or verify your account. You can access your account by clicking this link: ", Model.UserLang)
                <a href="@Model.SiteUrl">@Model.SiteUrl</a>.
            </span>
        </p>
        <br />
        <p>
            <span>@await Html.Translate("company-approved:ignore.email", "If you didn't request this OTP, please ignore this email.", Model.UserLang)</span>
        </p>
        <p style='text-align: center; color: #888888; margin-top: 20px;'>
            <span>@await Html.Translate("company-approved:greetings", "Thank you", Model.UserLang)</span>
        </p>
    </div>
</body>
</html>
